{% import "_includes/forms" as forms %}

<div class="flex-fields">
    {{ forms.selectizeField({
        multi: true,
        label: 'Available global sets'|t,
        name: 'globals',
        options: globals,
        values: settings.globals
    }) }}
    {{ forms.selectizeField({
        multi: true,
        label: 'Available entry types',
        name: 'entryTypes',
        options: entryTypes,
        values: settings.entryTypes
    }) }}
</div>